$primary: #e4007c;
$border-style: none;
$border1: none;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "buttonsColors";
.square {
    background-color: aqua;
}

.btn-primary {
    @include button-variant($color_principal, darken($color_principal, 7.5%), darken($color_principal, 10%), lighten($color_principal, 5%), lighten($color_principal, 10%), darken($color_principal, 30%));
    color: $white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../src/img/Imagenes/icon-hamburger.svg");
}

.navbar-toggler {
    border: none;
    outline: none;
    &:focus,
    &:active,
    &-icon:focus {
        outline: none;
        box-shadow: none;
    }
}