@import 'buttonsColors';



//Variables
$primary-color:black;

.square{
    background-color: aqua;
}


/* Generating @mixin based on 'btn-variant' */
@mixin btn-variant {
    background-color: $color_principal;
}

.btn-primary {
    @include btn-variant; 
}